# Teste de engenharia de dados do Bullla
Este notebook apresenta um exemplo de como transformar seus dados armazenados "in-memory" em tabelas no SQLite, permitindo a manipulação através de querys SQL. Caso ainda tenha dúvidas, você pode utilizar tutoriais [como esse](https://deepnote.com/blog/query-pandas-dataframes-with-sql) para ver mais detalhes. Esse snippet foi testado utilizando o Python 3.10.

O primeiro passo é importar as bibliotecas necessárias. Caso você não as tenha instalada na máquina, será necessário realizar isso antes.

In [1]:
import pandas as pd
import sqlalchemy
%load_ext sql

Feito isso, você deve fazer a leitura das bases de dados para a memória. O exemplo abaixo é um pseudocódigo.

In [ ]:
clients = get_csv_data('clientes.csv')

Depois, você irá inicializar a SQLite através do código abaixo:

In [3]:
engine = sqlalchemy.create_engine('sqlite:///mydatabase.db')
%sql sqlite:///mydatabase.db

Agora, basta transformar seus dados em tabelas efetivamente. É possível que você se depare com o seguinte erro: **ValueError: Unsigned 64 bit integer datatype is not supported**. Isso ocorre por que o SQLite não oferece suporte para o tipo **uint64**. Nesse caso, você deve tentar converter as colunas do seu dataset que estão em uint64 para string. As colunas que recebem esse tipo geralmente são *numeroCartao* e *numeroConta*.

In [ ]:
clients.to_sql('clientes', con=engine, if_exists='replace')

Finalmente, você deve ser capaz de executar querys utilizando a seguinte syntax:

In [ ]:
query = %sql """ SELECT * \
                 FROM clientes"""

In [ ]:
print(query)